<a href="https://colab.research.google.com/github/abdinegara783/FindIT2023/blob/Experiment/FindIT_Decision_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd

from google.colab import drive
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split, GridSearchCV

In [12]:
# Mount Google Drive to access dataset
drive.mount('/content/drive', force_remount=True)

# Set up directory path
file_path = '/content/drive/MyDrive/df_TrainingFeatures.csv'
target_path = '/content/drive/MyDrive/training_set_labels.csv'

Mounted at /content/drive

In [13]:
# Read CSV file
data = pd.read_csv(file_path)

# Print the contents of the CSV file
data.head()

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,race_White,"income_poverty_<= $75,000, Above Poverty","income_poverty_> $75,000",income_poverty_Below Poverty,employment_status_Employed,employment_status_Not in Labor Force,employment_status_Unemployed,"census_msa_MSA, Not Principle City","census_msa_MSA, Principle City",census_msa_Non-MSA
0,0,1,0,0,0,0,0,0,1,1,...,1,0,0,1,0,1,0,0,0,1
1,1,3,2,0,1,0,1,0,1,1,...,1,0,0,1,1,0,0,1,0,0
2,2,1,1,0,1,0,0,0,0,0,...,1,1,0,0,1,0,0,1,0,0
3,3,1,1,0,1,0,1,1,0,0,...,1,0,0,1,0,1,0,0,1,0
4,4,2,1,0,1,0,1,1,0,1,...,1,1,0,0,1,0,0,1,0,0

In [14]:
# Read CSV file
target = pd.read_csv(target_path)

# Print the contents of the CSV file
target.head()

   respondent_id  h1n1_vaccine  seasonal_vaccine
0              0             0                 0
1              1             0                 1
2              2             0                 0
3              3             0                 1
4              4             0                 0

In [15]:
# merge the dataframes using respondent_id as primary key
merged_df = pd.merge(data, target, on='respondent_id')

# print the merged dataframe
merged_df.head()

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,"income_poverty_> $75,000",income_poverty_Below Poverty,employment_status_Employed,employment_status_Not in Labor Force,employment_status_Unemployed,"census_msa_MSA, Not Principle City","census_msa_MSA, Principle City",census_msa_Non-MSA,h1n1_vaccine,seasonal_vaccine
0,0,1,0,0,0,0,0,0,1,1,...,0,1,0,1,0,0,0,1,0,0
1,1,3,2,0,1,0,1,0,1,1,...,0,1,1,0,0,1,0,0,0,1
2,2,1,1,0,1,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
3,3,1,1,0,1,0,1,1,0,0,...,0,1,0,1,0,0,1,0,0,1
4,4,2,1,0,1,0,1,1,0,1,...,0,0,1,0,0,1,0,0,0,0

In [16]:
merged_df.to_csv('data_and_target.csv', index=False)

In [17]:
# copy dataframe df menjadi df1 dan df2
df1 = merged_df.copy()
df2 = merged_df.copy()

# **Code for Target 1**

In [18]:
df1.drop(['respondent_id', 'seasonal_vaccine'], axis=1, inplace=True)
df1.head()

,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,doctor_recc_h1n1,...,"income_poverty_<= $75,000, Above Poverty","income_poverty_> $75,000",income_poverty_Below Poverty,employment_status_Employed,employment_status_Not in Labor Force,employment_status_Unemployed,"census_msa_MSA, Not Principle City","census_msa_MSA, Principle City",census_msa_Non-MSA,h1n1_vaccine
0,1,0,0,0,0,0,0,1,1,0,...,0,0,1,0,1,0,0,0,1,0
1,3,2,0,1,0,1,0,1,1,0,...,0,0,1,1,0,0,1,0,0,0
2,1,1,0,1,0,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,0
3,1,1,0,1,0,1,1,0,0,0,...,0,0,1,0,1,0,0,1,0,0
4,2,1,0,1,0,1,1,0,1,0,...,1,0,0,1,0,0,1,0,0,0

In [19]:
# memisahkan feature dan label
X = df1.iloc[:, :-1].values
y = df1.iloc[:, -1].values

# membagi dataset menjadi train set dan test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# membuat objek decision tree classifier
dt = DecisionTreeClassifier()

# membuat dictionary parameter yang akan dicari
param_grid = {'criterion': ['gini', 'entropy'], 
              'max_depth': [2, 3, 4, 5, None],
              'min_samples_split': [2, 3, 4],
              'min_samples_leaf': [1, 2, 3],
              'max_features': ['sqrt', 'log2', None]}

# membuat objek GridSearchCV
grid_search = GridSearchCV(dt, param_grid=param_grid, cv=5)

# melatih model dengan grid search
grid_search.fit(X_train, y_train)

# mencetak parameter terbaik dan skor validasi terbaik
print("Best Parameter: ", grid_search.best_params_)
print("Best Validation Score: ", grid_search.best_score_)

Best Parameter:  {'criterion': 'entropy', 'max_depth': 4, 'max_features': None, 'min_samples_leaf': 1, 'min_samples_split': 2}
Best Validation Score:  0.8296747016147906

In [20]:
# melatih ulang model dengan parameter terbaik
best_model = grid_search.best_estimator_
best_model.fit(X_train, y_train)

# melakukan prediksi pada test set
y_pred = best_model.predict(X_test)

# menghitung akurasi model pada test set
accuracy = (y_pred == y_test).mean()
print(f'Accuracy: {accuracy}')

Accuracy: 0.8373268438786972

# **Code for Target 2**

In [21]:
df2.drop(['respondent_id', 'h1n1_vaccine'], axis=1, inplace=True)
df2.head()

,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,doctor_recc_h1n1,...,"income_poverty_<= $75,000, Above Poverty","income_poverty_> $75,000",income_poverty_Below Poverty,employment_status_Employed,employment_status_Not in Labor Force,employment_status_Unemployed,"census_msa_MSA, Not Principle City","census_msa_MSA, Principle City",census_msa_Non-MSA,seasonal_vaccine
0,1,0,0,0,0,0,0,1,1,0,...,0,0,1,0,1,0,0,0,1,0
1,3,2,0,1,0,1,0,1,1,0,...,0,0,1,1,0,0,1,0,0,1
2,1,1,0,1,0,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,0
3,1,1,0,1,0,1,1,0,0,0,...,0,0,1,0,1,0,0,1,0,1
4,2,1,0,1,0,1,1,0,1,0,...,1,0,0,1,0,0,1,0,0,0

In [24]:
# memisahkan feature dan label
X = df2.iloc[:, :-1].values
y = df2.iloc[:, -1].values

# membagi dataset menjadi train set dan test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# membuat objek decision tree classifier
dt = DecisionTreeClassifier()

# membuat dictionary parameter yang akan dicari
param_grid = {'criterion': ['gini', 'entropy'], 
              'max_depth': [2, 3, 4, 5, None],
              'min_samples_split': [2, 3, 4],
              'min_samples_leaf': [1, 2, 3],
              'max_features': ['sqrt', 'log2', None]}

# membuat objek GridSearchCV
grid_search = GridSearchCV(dt, param_grid=param_grid, cv=5)

# melatih model dengan grid search
grid_search.fit(X_train, y_train)

# mencetak parameter terbaik dan skor validasi terbaik
print("Best Parameter: ", grid_search.best_params_)
print("Best Validation Score: ", grid_search.best_score_)

Best Parameter:  {'criterion': 'entropy', 'max_depth': 5, 'max_features': None, 'min_samples_leaf': 1, 'min_samples_split': 2}
Best Validation Score:  0.7548794757781419

In [25]:
# melatih ulang model dengan parameter terbaik
best_model = grid_search.best_estimator_
best_model.fit(X_train, y_train)

# melakukan prediksi pada test set
y_pred = best_model.predict(X_test)

# menghitung akurasi model pada test set
accuracy = (y_pred == y_test).mean()
print(f'Accuracy: {accuracy}')

Accuracy: 0.7560838637214526