<a href="https://colab.research.google.com/github/abdinegara783/FindIT2023/blob/Experiment/FIND_IT_UGM_Main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

# Import Library/Package

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Import Dataset

In [6]:
#Path from Dataset
TrainingFeatures_path='/content/drive/MyDrive/DataFinditUGM/training_set_features.csv'
TrainingLabels_path='/content/drive/MyDrive/DataFinditUGM/training_set_labels.csv'

In [8]:
# Membaca file CSV sebagai DataFrame
#Reading the TrainingFeatures CSV file as DataFrame
df_TrainingFeatures = pd.read_csv(TrainingFeatures_path)

# shows 5 first row from DataFrame
df_TrainingFeatures.head()

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb

In [20]:
#shows how many feature are there
print('This is the feature from datasets:\n{}'.format(df_TrainingFeatures.columns.tolist()))
print('\nThis datasets has {} Feature'.format(len(df_TrainingFeatures.columns)))

This is the feature from datasets:
['respondent_id', 'h1n1_concern', 'h1n1_knowledge', 'behavioral_antiviral_meds', 'behavioral_avoidance', 'behavioral_face_mask', 'behavioral_wash_hands', 'behavioral_large_gatherings', 'behavioral_outside_home', 'behavioral_touch_face', 'doctor_recc_h1n1', 'doctor_recc_seasonal', 'chronic_med_condition', 'child_under_6_months', 'health_worker', 'health_insurance', 'opinion_h1n1_vacc_effective', 'opinion_h1n1_risk', 'opinion_h1n1_sick_from_vacc', 'opinion_seas_vacc_effective', 'opinion_seas_risk', 'opinion_seas_sick_from_vacc', 'age_group', 'education', 'race', 'sex', 'income_poverty', 'marital_status', 'rent_or_own', 'employment_status', 'hhs_geo_region', 'census_msa', 'household_adults', 'household_children', 'employment_industry', 'employment_occupation']

This datasets has 36 Feature

In [23]:
# Mengecek apakah ada nilai yang hilang pada setiap kolom
missing_data = df_TrainingFeatures.isna().any(axis=0)

# Mencetak nama kolom yang memiliki nilai hilang
print("Kolom dengan nilai hilang:")
print(missing_data[missing_data == True].index.tolist())

Kolom dengan nilai hilang:
['h1n1_concern', 'h1n1_knowledge', 'behavioral_antiviral_meds', 'behavioral_avoidance', 'behavioral_face_mask', 'behavioral_wash_hands', 'behavioral_large_gatherings', 'behavioral_outside_home', 'behavioral_touch_face', 'doctor_recc_h1n1', 'doctor_recc_seasonal', 'chronic_med_condition', 'child_under_6_months', 'health_worker', 'health_insurance', 'opinion_h1n1_vacc_effective', 'opinion_h1n1_risk', 'opinion_h1n1_sick_from_vacc', 'opinion_seas_vacc_effective', 'opinion_seas_risk', 'opinion_seas_sick_from_vacc', 'education', 'income_poverty', 'marital_status', 'rent_or_own', 'employment_status', 'household_adults', 'household_children', 'employment_industry', 'employment_occupation']

# EDA (Explanatory Data Analysis)

# Feature Enginering

# Feature Selection

# Modeling

# Evaluating